.items{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-left: 6rem;
}

.item {
    padding: 20px 20px 20px 45px;
}
.crop {
    height: 10rem;
    width: 10rem;
}
.head-four {
    text-align: center;
    padding-right: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: #6d6565;
}
.pokemon-button{
    background-color: #f5d4db;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 1.5rem;
    text-transform: capitalize;
    width: 13rem;
    color: #6d6565;
    font-style: italic;
}

.next {
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    color: #6d6565;
    cursor: pointer;
}
.next-div{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.back {
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    color: #6d6565;
    cursor: pointer;
}
.back-div{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-text {
    margin: 1rem 2rem 0 0;
    width: 20rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

input::placeholder {
    text-align: center;
}

.search-button{
    margin: 1rem 0 0 0;
    padding: 0 20px 0 20px;
}